li{
    display: inline-block;
    padding: 2%;
}
.logo{

    width: 0 auto;
    padding: 1%;
    text-align: left;
}
.logoImg{
  height: 60px;
  width: 0 auto;
  float: left;
  text-align: center;


}
p{
    display: inline-block;
    vertical-align: top;
    padding: 1rem;
    
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #354866;
    overflow: hidden;
    vertical-align: top;
  }
/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #9C646F;
    color: white;
  }

ul{
    width: 50%;
    text-align: center;
    margin-left: auto;
}
.alignItems{
  align-items: center;
}
.perfectlyCenter{
  justify-content: center;
  align-items: center;
}
.flexContainer{
  display: flex;
  height: 800px;
  width: 100%;
  margin: 10px;
  padding: 10px;
  align-items: center;
 
}
img{
  height: 350px;
  width: 0 auto;
  display: flex;
  margin: 10px;
  padding: 1;
  border-radius: 5%;
  
  
}
.flexItem{
 
  width: 33%;
  height: 700px;
  justify-content: center;
  align-items: center;
  padding: 1%;
  margin-right: 10px;
}
h1{
  text-align: center;
}
h2, h3{
  padding: 1%;
  margin: 20px;
}
p1{
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 1%;
  margin: 20px;
}
button{
  margin: 20px;
}
footer{
    background-color: #D4CFCB;
    padding: 1%;
    align-items: center;
}
.navFoot{
    width: 100%;
    padding: 1%;
    vertical-align: top;
    align-items: center;  
}
button {
  position: relative;
  text-transform: uppercase;
  border: 2px solid black;
  padding: 0.75em 1.5em;
  border-radius: 1.5em;
  transition: transform 240ms linear;
  z-index: 1;
  overflow: hidden;
  background-color: white;
}

button::before,
button::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

button::before {
  background-image: linear-gradient(90deg, rgba(156,100,111,1) 0%, rgba(217,197,196,1) 60%, rgba(212,207,203,1) 100%);
  z-index: -1;
  transition: opacity 240ms linear;
  opacity: 0;
}

button::after {
  background-image: url("data:image/svg+xml,%3Csvg width='165' height='155' viewBox='0 0 165 155' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M165 -6.10352e-05H65C65 -6.10352e-05 37.1135 5.19052 20 33C4 59 21 68.5 38 98.5C51.6 122.5 17.3333 147.333 0 155H100C100 155 126 143 137.5 123.5C155.875 92.3417 104.5 70 115.5 42.5C126.5 15 165 -6.10352e-05 165 -6.10352e-05Z' fill='white'/%3E%3C/svg%3E");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: -25%;
}

button:hover {
  transform: scale(1.1);
}

button:hover::before {
  opacity: 1;
}

button:hover::after {
  animation-duration: 400ms;
  animation-name: shine;
}

@keyframes shine {
  from { background-position: -25% }
  to { background-position: 135% }
}
/*<!-- My Skills Section Constructed using CSS Grid --!>*/
.skillsGrid{
  display: grid;
}
.userResearch {
  grid-area: left;
}
.userInterface{
  grid-area: middle;
}
.webDesign{
  grid-area: right;
}
.grid-container {
  display: grid;
  grid-template-areas: 'left left middle middle right right';
  grid-template-rows: 33% 33% 33%;
 grid-template-columns: auto;
 
}
p2{
 
  display: flex;
  width: auto;
  margin: 20px;
}
h4{
  margin: 20px;
  text-decoration: underline;
  text-align: center;
}
/*Media Query*/
@media only screen and (max-width: 600px){
  .flexContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .userResearch {
    grid-area: top;
  }
  .userInterface{
    grid-area: center;
  }
  .webDesign{
    grid-area: bottom;
  }
  .grid-container{
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas: "top" "center" "bottom";
  }
}